html {
  background: linear-gradient(0deg, rgb(138, 138, 138), rgba(255, 255, 255, 1));
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(17, 17, 17);
}

.center {
   text-align: center;
}

#date {
  font-size: 3rem;
  margin-top: .5%; 
  font-family: 'Dancing Script', cursive;
}

#countDown {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

#until {
  margin-top: 0%; 
  padding-top: 0%;
}

.meet {
  display: flex;
  width: 44%;
  float: left;
  padding-left: 3%;
}

@media screen and (max-width: 550px) {
  .meet {
    float: none;
    width: 90%
  }
}