.center {
   text-align: center;
}

#date {
  font-size: 3rem;
  margin-top: .5%; 
}

#countDown {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

#until {
  margin-top: 0%; 
  padding-top: 0%;
}

.meet {
  display: flex;
  width: 44%;
  float: left;
  padding-left: 3%;
}